@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Light";
  src: url("./assets/fonts/Inter-Light.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("./assets/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("./assets/fonts/Inter-Medium.ttf");
}

:root {
  --gp-green: #4a7b39;
  --graphic-green: #007e0d;
  --reverse-green: #3c9832;
  --mug-green: #4caf50;
  --terracota: #e2725b;
  --matte-black: #1a1a1a;
  --white: #ffffff;
  --dark-gray: #4c4d4e;
  --medium-gray: #a9a8a9;
  --light-gray: #eeeeee;
  --background-black: #000000;
  --cool-gray: #252525;
  --cool-gray2: #8a8a8d;
  --dark-gray2: #4d4d4f;
  --cool-gray6: #a9a8a9;
  --gray-cart-opacity: rgba(255, 255, 255, 0.2);
  --black-cart-opacity: rgba(0, 0, 0, 0.25);
  --transparent: rgba(255, 255, 255, 0);
  --gp-green-blur: rgba(74, 123, 57, 0.6);
  --navbar-hover: rgba(255, 218, 218, 1);
}

* {
  font-family: "Inter-Light";
  background-color: #252525;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: transparent;
  font-family: "Inter-Bold";
  font-size: 40px;
}

h2 {
  background-color: transparent;
  font-family: "Inter-Bold";
  font-size: 30px;
}

h3 {
  background-color: transparent;
  font-family: "Inter-Regular";
  font-size: 20px;
}

p {
  background-color: transparent;
  font-size: 20px;
}
