---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar";
---

<Layout title="Sobre Nosaltres" description="Sobre Nosaltres">
  <NavBar client:only />
  <main></main>
</Layout>
