---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar";
import ContactInfo from "../components/Form/Contact/ContactInfo";
import ContactForm from "../components/Form/Contact/ContactForm";
import { ContactInfoText, GeneralFormLayout, GeneralTitle } from "../data/form";
---

<Layout title="Contacte" description="Contacte">
  <NavBar client:only />
  <main>
    <div
      class="flex flex-col-reverse justify-center items-center lg:flex-row gap-x-4 xl:gap-x-0"
    >
      <ContactInfo ContactInfoText={ContactInfoText} />
      <ContactForm
        GeneralFormLayout={GeneralFormLayout}
        GeneralTitle={GeneralTitle}
      />
    </div>
  </main>
</Layout>
