---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar";
---

<Layout title="Contacte" description="Contacte">
  <NavBar client:only="react" />
  <main></main>
</Layout>
