---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar";
---

<Layout title="GironaPlants" description="Home">
  <NavBar client:load />
  <main>Hola Mundo!</main>
</Layout>
