---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar";
---

<Layout title="Ofertes" description="Ofertes">
  <NavBar client:only />
  <main></main>
</Layout>
