---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar/NavBar";
---

<Layout title="Productes" description="Productes">
  <NavBar client:only />
  <main></main>
</Layout>
